.foodThumbnails {
  width: 120px;
  min-height: 120px;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
}

nav ul {
  height:auto; width: auto;
  /*overflow:hidden; overflow-y:scroll;*/
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.top-bar {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
    background-color: white;
  /*background-color: #f63440;
  color: #fff;*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: "none";
  box-shadow: "none";
}

.top-bar-elements {
  display: inline-block;
}
.logo-img {
  -webkit-box-flex: 1;
  -ms-flex: 1 150px;
  flex: 1 150px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 150px;
}
.logo-img-detail {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: 5px 5px 7px;
  width: 110px;
  height: 40px;
  background-image: url(K2GOC.png);
  -webkit-transition: none;
  transition: none;
}

.main-nav-Col {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*background-color: #f63440;*/
}

.searchbar {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.search-detail {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 372px;
  flex: 1 1 372px;
  padding: 8px;
}


.container{
  width: 100%;
  margin: 0 /*auto*/;
  margin-top:50px;
}

#map_container{
  position: /*relative*/ static;
  margin-top: 74px;
}
.map{
  height: 0;
  overflow: hidden;
  padding-bottom: 22.25%;
  /*padding-top: 30px;
  margin-top: 74px; */
  position: relative;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.search-list-card {
    border: 1px solid #c0c0c0;
    margin: 10px;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

.banner-img {
    width: 100%;
    height: 270px;
    margin-top: 40px;
    margin-bottom: 30px;
    background-image: url('../img/banner1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;

}

/*banner search bar */
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/*-------------------------------------*/

.form-wrapper {
    width: 470px;
    padding: 15px;
    margin: 50px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 20px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before{
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.byline p{
    text-align:center;
    color:#c6c6c6;
    font: bold 18px Arial, Helvetica, Sans-serif;
    text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
    color:#d83c3c;
    text-decoration:none;
}

.banner-header {
    margin-top: 60px;
}

.card-img {
    width: 100%;
    height: 40%;
    background-image: url('../img/banner1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

.info-text-wrapper {
    position: relative;
    padding: 10px 20px 20px;
    height: 176px;
}

.cook-info-wrapper {
    text-align: left;
}

.cook-img-wrapper {
    width: 54px;
    height: 54px;
    float: left;
    margin-right: 6px;
}
.cook-img-profile-wrapper {
    width: 240px;
    height: 240px;
}

.cook-img {
    border-radius: 50%;
    overflow: hidden;
}

.cook-text {
    overflow: hidden;
}
.cook-name {
    text-transform: uppercase;
    color: #e54040;
    font-size: 14px;
    font-weight: 400;
}
.cook-location {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.rate {
    margin-top: 6px;
}
.star-wrapper {
    height: 20px;
}

.title-wrapper {
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 2px 0 0;
    padding-top: 12px;
    margin-top: 12px;
    text-align: left;
    position: relative;
}

.title-link {
    display: block;
    float: left;
    width: calc(100% - 52px);
    color: inherit;
}
.title-price {
    margin-top: 1px;
    margin-right:1px;
    float: right;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    width: 45px;
}

.dish-wrapper {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
}
.placehold-stars {
    width: 200px;
    padding: 10px;
}
.dish-title-wrapper {
    position: absolute;
    bottom: 0;
    margin: 20px;
    margin-left: 24px;
    border-radius: 10px;
    background-color: #fbfbfb;
    width: 50vw;
}
.dish-title {
    padding-left: 20px;
}
.dish-phone {
    padding-left: 20px;
}
.page-container-wrapper {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1080px;
    position: relative;
    padding-top: 10px;
}
.page-container-detail-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.dish-page-nav {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #484848;
    font-weight: 700;
    display: inline;
    text-transform: uppercase;
}
.dish-page-nav-wrapper {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;
}
.dish-page-detail-ul {
    width: 31%;
    vertical-align: top;
    margin-right: 0;
    margin-left: 1.5rem;
}
.dish-page-detail-li {
    clear: right;
    width: 100%;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}
.dish-page-review-wrapper {
    margin-top: 20px;
    margint-bottom: 10px;
}
.dish-page-review {
    margin: 0;
    float: left;
    padding: 0 !important;
}
.profile-credentials-title {
    border: 1px solid #e6e6e6;
    background-color: #fbfbfb;
    padding: 10px;
}
.profile-credentials {
    border: 1px solid #e6e6e6;
    padding: 10px;
    border-top: none;
}


<!--detail page -->
.pbt-1 {
    padding-bottom: 60px;
    padding-top: 60px;
}
.on-list-1 > h2 {
    font-size: 24px;
    margin: 50px 0;
}

.dish-img {
    margin: 0 0 30px 0;
    position: relative;
}
.dish-img .owl-nav {
    bottom: 0;
    position: absolute;
    right: 0;
}
.dish-img .owl-prev {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.dish-img .owl-prev, .dish-img .owl-next {
    background-color: rgba(223, 47, 47, 0.75);
    color: #fff;
    float: left;
    height: 60px;
    position: relative;
    transition: background-color .15s linear;
    width: 60px;
}
.dish-img .owl-prev:hover, .dish-img .owl-next:hover {
    background-color: rgba(223, 47, 47, 0.9); }
.dish-img .owl-prev .fa, .dish-img .owl-next .fa {
    display: block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}
.dish-img-item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 408px;
    position: relative;
}
.dish-img-item:after {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent 100px);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.dish-img-item-description {
    bottom: 18px;
    color: #fff;
    font-size: 18px;
    left: 24px;
    position: absolute;
    z-index: 999;
}
.ingred {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
    float: left;
    width: 100%
}
.ingred li {
    padding: 8px 8px;
}
.ingred li:before {
    display: inline-block;
    width: 24px;
}

.available-hours {
    background-color: #eee;
    border-radius: 3px;
    margin: 0 0 16px 0;
    width: 100%;
}
.available-hours th, .available-hours td {
    padding: 1rem 16px;
    text-align: center;
}
.available-hours th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    font-size: 13px;
}
.available-hours td {
    font-size: 13px;
}
.available-hours td span {
    display: block;
    white-space: nowrap;
}
.available-hours-wrapper {
    overflow: auto;
    width: 100%;
}

.detail-side {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0 0 30px 0;
    padding: 25px;
}
.detail-side .simple {
    box-shadow: none;
    padding: 0;
}
.detail-side:last-child {
    margin-bottom: 0; }
.detail-side .nav-link {
    color: #9E9E9E;
    padding: 6px 0; }
.detail-side .nav-link:hover {
    color: #DF2F2F; }
.detail-side .contact {
    list-style: none;
    margin: 0;
    padding: 0; }
.detail-side .contact li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    padding: 10px 0; }
.detail-side .contact li:last-child {
    border-bottom: 0; }
.detail-side .contact li .md-icon, .detail-side .contact li .user-avatar-wrapper:after, .detail-side .contact li .checkbox-wrapper:after, .detail-side .contact li .radio-wrapper:after {
    color: #9E9E9E;
    font-size: 22px;
    float: left;
    height: 22px;
    margin: 0 15px 0 0;
}
.detail-side .overview ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.detail-side .overview ul strong {
    color: #9E9E9E;
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.detail-side .overview ul span {
    color: #424242;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 2px 0 0 0;
}
.detail-side .overview ul li {
    margin: 0 0 15px 0;
}
.detail-side .overview ul li:last-child {
    margin-bottom: 0;
}
.detail-side .overview ul li a {
    color: #424242;
}

.detail-side-title {
    font-size: 20px;
}